# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# AWS CLI cache
.aws/

# Ignore data files
*.json
